@import url("colours.css");
@import url("tokens.css");

@font-face {
  font-display: swap;
  font-family: "On Air Var";
  font-style: normal;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: url(../assets/DefinitellyNotOnAirVar.woff2) format("woff2");
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.label-s {
  font-family: var(--font-family);
  font-size: var(--font-label-s-size);
  font-weight: var(--font-label-s-weight);
  line-height: var(--font-label-s-line-height);
  letter-spacing: var(--font-label-s-letter-spc);
}

.label-m {
  font-family: var(--font-family);
  font-size: var(--font-label-m-size);
  font-weight: var(--font-label-m-weight);
  line-height: var(--font-label-m-line-height);
  letter-spacing: var(--font-label-m-letter-spc);
}

/* NOTE: Not sure what was meant by Body M - I guess it should be body with size applied. There are possibly better ways than this though. */
.body-m {
  font-family: var(--font-family);
  font-size: var(--font-body-m-size);
  font-weight: var(--font-body-m-weight);
  line-height: var(--font-body-m-line-height);
  letter-spacing: var(--font-body-m-letter-spc);
}

/* 
 * NOTE: We can use CSS nesting just like in scss nowadays 🎉 - Baseline 2023
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Nesting_rules 
 * https: //caniuse.com/css-nesting
 */

.body-m p {
  /* TODO: We might want to set 0px on last child */
  margin-bottom: 20px;
}

.body-m li {
  /* NOTE: Sure this would be what you're after, but there's gap property as well if the parent is set to be flexbox or grid container */
  margin-bottom: 6px;
}

.main-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}