.text-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* TODO: Add size support */
.text-input-label {
    margin-bottom: var(--spacing-xs);
    color: var(--content-on-neutral-xx-high)
}

.text-input {
    border: 1px solid var(--surface-x-high);
    border-radius: var(--radius-input);
    width: 100%;
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-xs);
    caret-color: var(--surface-brand);
}

.text-input:focus {
    border-color: var(--state-default-focus);
    outline-width: 3px;
}

.text-input::placeholder {
    color: var(--content-on-neutral-low);
}

.text-input-optional {
    margin-left: var(--spacing-xs);
    /* FIXME: This colour was specified as color/content/on-neutral/low but its value was #7D7D8A, which wasn't in any color variable */
    color: #7D7D8A;
}